body{
    margin: 0;
    background-image: url('b1.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family: "Poppins", sans-serif;
   
}


h3{
    position: absolute;
    top: 60px;
    left: 100px;
    color: #8a2bff;
    font-size: 23px  ;
    }

h2{
    color: #FFFFFF;
    font-size: 77px;

}

#sec{
    position: absolute;
    top: 90px;
    left: 100px;
    font-weight: 6000;
    font-size: 6rem;
    
}

#third{
    position: absolute;
    top: 190px;
    left: 100px;
    font-weight: 200;

}
   



.countdown{
    display:flex;
    gap:60px;
    text-align:center;
    position: absolute;
    top: 370px;
    left: 100px;
    font-size: 77px;
}

.time-box span{
    font-size:10rem;
    font-weight:bold;
    color:#8A2BFF;
}

.time-box p{
    margin-top:-50px;
    color:white;
    font-size:1.5rem;
    font-weight:bold;
    position:inherit;
}






.social-icons{
    display: flex;
    gap: 20px;
    position: absolute;
    top: 660px;
    left: 100px;
}

.social-icons a{
    width: 60px;
    height: 60px;

    border: 2px solid white;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 24px;

    text-decoration: none;

    transition: 0.3s;
}

.social-icons a:hover{
    background: white;
    color: black;
}
